---
layout: page
---
<span>
    Categories: 
    {% for category in page.categories -%}
        {%- capture category_exp -%}category_page.category == "{{category}}"{%- endcapture -%}
        {%- assign category_page = site.categories | where_exp: "category_page", category_exp | first -%}
        <a href="{{category_page.url}}">{{category}}</a>{%- unless forloop.last %} - {% endunless -%}
    {%- endfor -%}
</span><br />
{%if page.from %}
    <span>From: {{page.from}}</span><br/>
{%endif%}

<span style="display:flex">
    <div style="margin-right: 15px">
        {% include img.html res="web" type="recipe_crops" id=page.recipe %}
        <br />
        {% include asset_link.html res="full_res" type="recipe_crops" id=page.recipe %}
    </div>
    <div>
        TODO: photos of the recipe results
    </div>
</span>

{{ content }}