---
layout: page
---
{%- capture doc_filter -%}doc.collection == "book_pages" and doc.number == "{{page.page}}"{%- endcapture -%}
{%- assign parent_page = site.documents | where_exp: "doc", doc_filter | first -%}
{%- capture nav_links -%}{% include nav_links.md parent=parent_page %}{%- endcapture -%}

{{nav_links | markdownify }}
<span>
    Categories: 
    {% for category in page.categories -%}
        {%- capture category_exp -%}category_page.category == "{{category}}"{%- endcapture -%}
        {%- assign category_page = site.categories | where_exp: "category_page", category_exp | first -%}
        <a href="{{category_page.url}}">{{category}}</a>{%- unless forloop.last %} - {% endunless -%}
    {%- endfor -%}
</span><br />
{%if page.from %}
    <span>From: {{page.from}}</span><br/>
{%endif%}

<div style="display:flex; margin-top: 10px">
    <span style="margin-right: 15px">
        {% include img.html res="web" type="recipe_crops" id=page.recipe width="395px" %}
    </span>
    <span>
        {% include img.html res="full_res" type="recipe_photos" id=page.recipe width="395px" %}
    </span>
</div>
<div style="display:flex; justify-content: space-between;">
    <span style="text-align: left">
        {% include asset_link.html type="recipe_crops" id=page.recipe %}
    </span>
    <span>
        <div style="text-align: right">Submit a Better Image (Coming Soon!)</div>
    </span>
</div>

{{ content }}

{% github_edit_link "Edit this recipe" %}
{{nav_links | markdownify }}